.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: pink;
}
.links a {
  margin-left: 50px;
  font-size: large;
  font-weight: bold;
}
